<div mat-dialog-content>
  <mat-card class="example-card">
    <mat-card-title-group>
      <img mat-card-md-image [src]="mostrarImagen(data.peopleInfo.url)" />
      <div class="p+">
        <h2 class="fs-headline display-block ng-binding">
          {{ data.peopleInfo.name }}
        </h2>
        <p class="fs-body-1 tc-black-2" ng-transclude="">
          <span class="ng-binding ng-scope"
            >Birth Year: {{ data.peopleInfo.birth_year }}</span
          ><br class="ng-scope" /><span class="ng-scope"
            >Species: {{ data.peopleInfo.species[3] }}</span
          ><a class="card-link ng-binding ng-scope" ng-href="">{{
            data.peopleInfo.species[3]
          }}</a
          ><br class="ng-scope" /><span class="ng-binding ng-scope"
            >Height: {{ data.peopleInfo.height }}cm</span
          ><br class="ng-scope" /><span class="ng-binding ng-scope"
            >Mass: {{ data.peopleInfo.mass }}kg</span
          ><br class="ng-scope" /><span class="ng-binding ng-scope"
            >Gender: {{ data.peopleInfo.gender }}</span
          ><br class="ng-scope" /><span class="ng-binding ng-scope"
            >Hair Color: {{ data.peopleInfo.hair_color }}</span
          ><br class="ng-scope" /><span class="ng-binding ng-scope"
            >Skin Color: {{ data.peopleInfo.skin_color }}</span
          ><br class="ng-scope" /><span class="ng-scope">Homeworld: </span
          ><a class="card-link ng-binding ng-scope" ng-href="#" href="#">{{
            data.peopleInfo.homeworld
          }}</a>
        </p>
      </div>
    </mat-card-title-group>
  </mat-card>
</div>
